{% extends "Minecraftable/base.html" %} 
{% block title %} Reset password {% endblock title %} 

{% block content %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/validation.css' %}">
<link href="{% static '/css/login.css' %}" rel="stylesheet">

<div class="card p-4 position-absolute start-50 translate-middle-x text-center" style="max-width: 35rem;">
        <h1 class="jumbotron-heading">Password Reset</h1>
        <p class="lead text-muted">If you forgot your password or your account was stolen, you can now reset your password, <b>ONLY</b> if your email was confirmed</p>
        <p class="lead text-muted">Specify your email address or your username:</p>
        <form id="reset-form">
            <input id="recovery-data" name="recoverydata" type="text" class="form-control" placeholder="Username or email address">
        </form>
        <button id="send-button" class="btn btn-primary my-2">Send recovery email</button>
    </div>  

{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script type="text/javascript" src="{% static 'js/forgot-password.js' %}"></script>
{% endblock scripts %}