.navbar-brand {
    font-size: 27px;
}

.nav-link {
    font-size: 20px;
}

#profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#navbar-icon {
    width: 27px;
    height: 27px;
}

.error-message {
    min-width: 400px;
}