html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#main-card {
    width: 60%;
    min-width: 500px;
}

.form-check-input {
    cursor: pointer;
}

.recipe-image {
    width: 99%;
    z-index: 0;
}

#image-div {
    width: 100%;
    position: relative;
}

area {
    cursor: pointer;
}

#plot-hover-image {
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
    pointer-events: none;
}

.plot-image {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.recipe-data {
    position: absolute;
    z-index: 2;
}

#result-count {
    font-size: 25px;
    top: 50%;
    left: 89%;
    font-family: 'Times New Roman';
    line-height: 25px;
}

@font-face {
    font-family: "digital-clock-font";
    src: url(/static/fonts/digital-7.ttf);
}

#timer-data {
    top: 15.4%;
    left: 71.2%;
    font-family: "digital-clock-font";
    /*font-size: 64px;*/
}

#xp-data {
    top: 74%;
    left: 68%;
    font-size: 70px;
}

.object-list {
    max-height: 290px;
    overflow: auto;
}

.element-image {
    max-height: 32px;
    max-width: 32px;
}

#image-rect {
    display: none;
}

.undisplayed-data {
    display: none !important;
}

.image-popover {
    margin-left: 1% !important;
}

.plot-list-image {
    position: absolute;
    pointer-events: none;
    z-index: -1000;
}

#furnace-plot-ingredient-image {
    left: 256px;
    top: 137px;
    max-height: 125px;
    max-width: 125px;
}

#stonecutter-plot-ingredient-image {
    left: 14px;
    top: 42px;
    max-height: 47px;
    max-width: 47px;
}

#campfire-plot-ingredient-image {
    left: 79px;
    top: 233px;
    max-height: 255px;
    max-width: 255px;
}

.fa-trash-alt {
    cursor: pointer;
}