#main-card {
    width: 60%;
    min-width: 500px;
}

.recipe-image {
    width: 100%;
    z-index: 0;
}

#image-div {
    width: 100%;
    position: relative;
}

.recipe-image-plot {
    cursor: pointer;
}

#plot-hover-image {
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 55px;
    height: 55px;
    z-index: 2;
    pointer-events: none;
}

.plot-item-image {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.object-list {
    max-height: 290px;
    overflow: auto;
}

.element-image {
    max-height: 32px;
    max-width: 32px;
}

#image-rect {
    display: none;
}

.undisplayed-data {
    display: none;
}