{% extends "Minecraftable/base.html" %}

{% block title %} Recipe {% endblock title %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/recipe.css' %}" type="text/css">

<div id="main-card" class="card p-4 position-absolute start-50 translate-middle-x">
    <p id="recipe-id" class="undisplayed-data">{{recipe_id}}</p>
    <h1 class="jumbotron-heading">Recipe:</h1>

    <div class="row g-0 justify-content-md-center">
        <div class="col-md-6">

            <div class="col form-floating mb-3">
                <input class="form-control" id="name-input" placeholder="irelevant">
                <label for="name-input">Name</label>
            </div>
            <select id="recipe-type-select" class="form-select" aria-label="Default select example">
                {% for type in recipe_types %}
                    <option value="{{type.1}}">{{type.2}}</option>
                {% endfor %}
            </select>

            <div class="row mt-3">
                <div class="col-md-2">
                    <button id="decrement-result-count-button" class="btn btn-danger" type="button">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
                <div class="col-md-2">
                    <button id="increment-result-count-button" class="btn btn-success" type="button">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="col-md-2">
                    <button id="erase-plot-button" class="btn" type="button">
                        <i class="fas fa-eraser"></i>
                    </button>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <div id="image-div" class="text-center mb-2">

                    <img id="crafting-recipe-image" src="{% static 'images/crafting-table-interface.png' %}" class="rounded recipe-image" alt="Crafting-Interface" usemap="#crafting-table-map">
                    
                    <img id="furnace-recipe-image" src="{% static 'images/furnace-interface.gif' %}"         class="rounded recipe-image undisplayed-data" alt="Furnace-Interface" usemap="#furnace-map">
                    <img id="furnace-plot-ingredient-image" src="{% static 'images/hover.jpg' %}"            class="plot-list-image undisplayed-data">

                    <img id="smithing-recipe-image" src="{% static 'images/smithing_table_interface.png' %}" class="rounded recipe-image undisplayed-data" alt="Smithing-Table-Interface" usemap="#smithing-table-map">

                    <img id="stonecutter-recipe-image" src="{% static 'images/stonecutter_interface.gif' %}" class="rounded recipe-image undisplayed-data" alt="Stonecutter-Interface" usemap="#stonecutter-map">
                    <img id="stonecutter-plot-ingredient-image" src="{% static 'images/hover.jpg' %}"            class="plot-list-image undisplayed-data">

                    <img id="campfire-recipe-image" src="{% static 'images/campfire_interface.gif' %}" class="rounded recipe-image undisplayed-data" alt="Campfire-Interface" usemap="#campfire-map">
                    <img id="campfire-plot-ingredient-image" src="{% static 'images/hover.jpg' %}"  class="plot-list-image undisplayed-data">

                    <p id="result-count" name="result-count" class="recipe-data fw-bold text-white">
                        {% if recipe_id  is None %}
                            1
                        {% endif %}
                    </p>
                    <p id="timer-data" name="timer-data" class="recipe-data cooking-data fw-bold text-black undisplayed-data">00: 10</p>
                    <p id="xp-data"    name="xp-data"    class="recipe-data cooking-data fw-bold text-black undisplayed-data">0</p>
                    <img id="plot-hover-image" src="{% static 'images/hover.jpg' %}">
                </div>
                <map name="crafting-table-map">
                    <area id="crafting-plot-0-0"    class="crafting-area recipe-image-plot recipe-plot" coords="25,24,80,80"     shape="rect">
                    <area id="crafting-plot-0-1"    class="crafting-area recipe-image-plot recipe-plot" coords="88,24,143,80"    shape="rect">
                    <area id="crafting-plot-0-2"    class="crafting-area recipe-image-plot recipe-plot" coords="150,24,206,81"   shape="rect">
                    <area id="crafting-plot-1-0"    class="crafting-area recipe-image-plot recipe-plot" coords="24,88,80,143"    shape="rect">
                    <area id="crafting-plot-1-1"    class="crafting-area recipe-image-plot recipe-plot" coords="88,88,143,144"   shape="rect">
                    <area id="crafting-plot-1-2"    class="crafting-area recipe-image-plot recipe-plot" coords="150,88,206,143"  shape="rect">
                    <area id="crafting-plot-2-0"    class="crafting-area recipe-image-plot recipe-plot" coords="25,150,80,206"   shape="rect">
                    <area id="crafting-plot-2-1"    class="crafting-area recipe-image-plot recipe-plot" coords="88,150,143,206"  shape="rect">
                    <area id="crafting-plot-2-2"    class="crafting-area recipe-image-plot recipe-plot" coords="151,151,206,206" shape="rect">
                    <area id="crafting-plot-result" class="crafting-area recipe-image-plot recipe-plot" coords="341,73,424,158"  shape="rect">
                </map>
                <map name="furnace-map">
                    <area id="furnace-plot-ingredient" class="furnace-area recipe-list-plot recipe-plot"           coords="253,136,380,260" shape="rect">
                    <area id="furnace-plot-result"     class="furnace-area recipe-image-plot recipe-plot"          coords="704,248,893,435" shape="rect">
                    <area id="furnace-timer-increment" class="furnace-button furnace-timer-button timer-increment" coords="912,136,948,81,991,136"  shape="poly">
                    <area id="furnace-timer-decrement" class="furnace-button furnace-timer-button timer-decrement" coords="952,199,910,145,988,145" shape="poly">
                    <area id="furnace-xp-increment"    class="furnace-button furnace-xp-button"                    coords="945,461,909,516,987,517" shape="poly">
                    <area id="furnace-xp-decrement"    class="furnace-button furnace-xp-button"                    coords="908,525,951,579,987,524" shape="poly">
                </map>
                <map name="smithing-table-map">
                    <area id="smithing-plot-base"     class="smithing-area recipe-image-plot smithing-plot recipe-plot" coords="22,84,72,135"   shape="rect">
                    <area id="smithing-plot-addition" class="smithing-area recipe-image-plot smithing-plot recipe-plot" coords="122,84,173,135" shape="rect">
                    <area id="smithing-plot-result"   class="smithing-area recipe-image-plot smithing-plot recipe-plot" coords="234,84,284,135" shape="rect">
                </map>
                <map name="stonecutter-map">
                    <area id="stonecutter-plot-ingredient" class="stonecutter-area recipe-list-plot recipe-plot"  coords="14,42,62,90"   shape="rect">
                    <area id="stonecutter-plot-result"     class="stonecutter-area recipe-image-plot recipe-plot" coords="126,42,174,90" shape="rect">
                </map>
                <map name="campfire-map">
                    <area id="campfire-plot-ingredient" class="campfire-area recipe-list-plot recipe-plot"            coords="72,227,334,483"          shape="rect">
                    <area id="campfire-plot-result"     class="campfire-area recipe-image-plot recipe-plot"           coords="687,226,944,485"         shape="rect">
                    <area id="campfire-timer-increment" class="campfire-button campfire-timer-button timer-increment" coords="867,126,906,85,944,126"  shape="poly">
                    <area id="campfire-timer-decrement" class="campfire-button campfire-timer-button timer-decrement" coords="867,136,944,136,906,180" shape="poly">
                </map>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-md-6 ps-2 mb-2">
            <div class="form-floating">
                <input class="form-control" id="search-item-input" placeholder="irelevant">
                <label for="search-item-input">Search Item</label>
            </div>

            <input type="text" id="item-list-finished" class="undisplayed-data finished-list" value="false">
            <ul id="item-list" class="list-group object-list mt-3 border border-light border-2"></ul>
        </div>
        <div class="col-md-6 ps-2">
            <div class="form-floating">
                <input class="form-control" id="search-tag-input" placeholder="irelevant">
                <label for="search-tag-input">Search Tag</label>
            </div>

            <input type="text" id="tag-list-finished" class="undisplayed-data finished-list" value="false">
            <ul id="tag-list" class="list-group object-list mt-3 border border-light border-2"></ul>
        </div>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto mt-4">
        <button id="save-button" class="btn btn-primary" type="button">Save</button>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'js/errors.js' %}"></script>
<script type="text/javascript" src="{% static 'js/binary-search.js' %}"></script>
<script type="text/javascript" src="{% static 'js/char-check.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popover-list/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popover-list/utils.js' %}"></script>

<script type="text/javascript" src="{% static 'js/recipe/utils-buttons/count.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/utils-buttons/timer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/utils-buttons/xp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/recipe-type-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/ElementList.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/set-element-in-plot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/fill-item-list.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/fill-tag-list.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/resize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/image-plot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/finished-lists.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/search-input.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/fill-recipe-data.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/save.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe/popover-setup.js' %}"></script>
{% endblock scripts %}